<h1>Teams#new</h1>
<p>Find me in app/views/teams/new.html.erb</p>



<%= form_for [@user, @team], url: user_teams_path do |z| %>
	<%= z.label "name" %>
	<%= z.text_field :name %><br/>
	<%= z.label "description" %>
	<%= z.text_field :description %><br/>
	<%= z.submit "Create book" %>
<% end %>