<h1>Teams#new</h1>
<p>Find me in app/views/teams/new.html.erb</p>

<%= form_for(@team, url: teams_new_path) do |f|%>
<p>
	Name:: <%= f.text_field :name, autofocus: true %>
</p>
<p>
	Description:: <%= f.text_field :description, required: true %>
</p>
<p>
	<%= f.submit "Create Team", class: "btn btn-primary" %>
</p>
<%= link_to "Back to Teams", home_path%>
<% end %>

